.Footer {
  background-color: var(--material-teal);
  transition-duration: var(--trans-duration);
  color: white;
  position: relative;
}

.Footer:hover {
  background-color: var(--material-teal-dark);
}

.CitTitle {
  margin-top: 0px;
  font-size: xx-large;
  font-family: "Roboto";
  font-weight: 100;
}

.CitSub {
  font-size: large;
}

.CitText {
  /* smol */
  font-size: small;
}
