@import url("./var.css");

.red_title {
  color: var(--material-red);
  font-weight: 800;
  font-size: 28pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
  color: var(--material-teal);
  font-weight: 600;
  font-size: medium;
}

.title_div {
  width: 360px;
  height: 3px;
  border-color: transparent;
  background-color: var(--dark-primary-color);
  margin-left: 0px;
  margin-top: -20px;
}

#img_cont {
  width: 80%;
  overflow: hidden;
  background-color: black;
}

.img_inst {
  width: 80%;
  height: 300px;
  clip: rect();
}
