@import url("var.css");

body {
  font-size: 28px;
  margin: 0;
}

.title {
  text-align: center;
  width: 100%;
  margin: 0;
  color: white;
}

.header {
  background-color: var(--primary-color);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: serif;
  width: 200px;
  height: 200px;
}

.back:hover {
  background-color: var(--light-primary-color);
}

.back {
  height: 64px;
  margin-top: -70px;
  float: left;
}

.news {
  width: 100%;
}
