body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffaa06;
  position: absolute;
  position: sticky;
  top: 0;
}

li {
  float: inherit;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: serif;
}

.back:hover {
  background-color: #ffebc4;
}

.back {
  height: 67px;
  position: absolute;
  left: 20px;
  top: 8px;
}
